/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  @include clearfix;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;
  position: relative;
  margin-top: 3em;
  color: $dark-gray;
  background-color: transparent;
  border-top: 1px solid $border-color;

  footer {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    max-width: 100%;
    padding: 0 1.5em 2em;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .fas,
  .fab,
  .far,
  .fal {
    color: mix(#fff, $gray, 25%);
  }
}

.page__footer-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 0 0;
}

.page__footer-brand {
  p {
    margin: 0;
    font-family: $global-font-family;
    font-size: $type-size-6;
    color: $text-color;
  }
}

.page__footer-follow {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;
    padding: 5px 8px;
    font-family: $sans-serif-narrow;
    font-size: $type-size-6;
    text-transform: uppercase;
  }

  a {
    color: $text-color;
    font-weight: 700;
  }
}

.page__footer-top {
  margin-left: auto;
  font-weight: 700;

  a {
    color: $primary-color;
    text-decoration: none;
  }
}
